body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ccbdbd;
}
#wordDisplay, #wrongLetters, #remainingAttempts{
    margin: 20px;
    font-size: 24px;
}

#hangmanImage{
    width:200px;
    height:auto;
}